{% extends 'base.html.twig' %}

{% block body %}
    <div id="index">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Список материалов</h1>
                </div>
                <div class="col-md-12">
                    <ul style="list-style-type: none; margin:0 0 20px 0; padding:0;">

                        <li>
                            <a style="display:inline-block; margin-top: 20px;" class="button-top-orders" href="{{ path('materials_new') }}"><img width="30px" src="{{ asset('public/images/new-order-top-button/AddOrder.svg') }}"></a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-12">
                    <div class="table-hidden">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" > <input onclick="event.stopPropagation()" type="checkbox"style="width:17px; height:17px; cursor:pointer;"></th>

                            <!--<th scope="col" >Id</th>-->
                            <th scope="col" >Название</th>
                            <th scope="col" >Остаток</th>
                            <th scope="col" >Цена</th>
                            <!--<th scope="col" >Услуга</th>-->
                            <th scope="col" >Цена за ед</th>
                            <!--<th scope="col" >Единица измерения</th>-->
                            <!--<th scope="col" >Рейтинг</th>-->
                            <!--<th scope="col">Общий размер</th>-->
                            <th scope="col" ><img width="30px" src="{{ asset('public/images/detail.svg') }}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set page = pagination.currentPageNumber() - 1 %}
                        {% for key ,material in pagination %}
                            <tr onclick='window.location.href="{% if is_granted('ROLE_SUPER_ADMIN') %}{{ path('materials_edit', { 'id': material.id }) }}{% endif %}"'>
                                <!--<td><a href="{{ path('materials_show', { 'id': material.id }) }}">{{ material.id }}</a></td>-->
                                <td scope="col" > <input onclick="event.stopPropagation()" type="checkbox"style="width:17px; height:17px; cursor:pointer;"></td>
                                <td>{{ material.name }}</td>
                                {% if page > 0 %}
                                    {% set index =  page ~ key %}

                                    <td class="{% if material.residue < arithmeticMea[index] %}b-red{% elseif material.residue <= ((arithmeticMea[index] / 3) + arithmeticMea[index]) and material.residue > arithmeticMea[index] %}b-yellow{% else %}b-green{% endif %}">{{ material.residue|round(1, 'common') }} {% if material.measureId %}{{ material.measureId.getName() }} {% endif %} </td>
                                {% else %}
                                    <td class="{% if material.residue < arithmeticMea[key] %}b-red{% elseif material.residue <= ((arithmeticMea[key] / 3) + arithmeticMea[key]) and material.residue > arithmeticMea[key] %}b-yellow{% else %}b-green{% endif %}">{{ material.residue|round(1, 'common') }} {{ material.measureId.getName() }}</td>
                                {% endif %}
                                <td>{{ material.pricepackage }}</td>
                                <!--<td>{{ material.serviceId.name }}</td>-->
                                <td>{{ material.priceUnit|round(1, 'common') }}</td>
                                <!--<td>{% if material.measureId %}{{ material.measureId.name |raw }}{% endif %}</td>-->
                                <!--<td>{{ material.rating }}</td>-->
                                <!--<td>{{ material.totalsize }}</td>-->
                                <td >
                                    <ul style="list-style-type: none; margin:0; padding:0; display:flex; justify-content: center;">
                                      <!--  <li>
                                            <a style="display:block; margin-top: 20px;" class="btn btn-info" href="{{ path('materials_show', { 'id': material.id }) }}">Показать</a>
                                        </li> -->
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <!--  <li>
                                            <a style="display:block; margin-top: 20px;" class="button-edit" href="{{ path('materials_edit', { 'id': material.id }) }}"><img  src="{{ asset('public/images/edit.svg') }}"></a>
                                        </li>-->
                                        <li>
                                            {% for key, value in delete_form %}
                                                {% if key == material.name %}
                                                    {{ form_start(value) }}
                                                    <input style="" class="btn button-delete" type="submit" value="Удалить" id="btn-delete_{{material.name}}">
                                                    <label class="btn-delete" for="btn-delete_{{material.name}}" style="margin: 0;"><img src="{{ asset('public/images/close.svg') }}" ></label>

                                                    {{ form_end(value) }}
                                                {% endif %}
                                            {% endfor %}
                                        </li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                        <span class="delete-all-checkbox">Удалить выделенные</span>
                        <div/>
                </div>
                <div class="pagination col-md-12">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>
        </div>
    </div>


        <script>
            let fixedWidthCol = [];
            let count2 = 0;

            document.querySelectorAll(".table tr th").forEach(function (e) {

                let widthCol = e.offsetWidth;
                fixedWidthCol.push({id: count2++, width: widthCol + "px"});

            });

            let returnWidthCol;

            if (JSON.parse(localStorage.getItem("fixedWidthCol3"))) {

                returnWidthCol = JSON.parse(localStorage.getItem("fixedWidthCol3"));
            } else {

                localStorage.setItem('fixedWidthCol3', JSON.stringify(fixedWidthCol));
                returnWidthCol = JSON.parse(localStorage.getItem('fixedWidthCol3'));
            }


            let colItemWidth = document.querySelectorAll(".table tr th");
            for (let i = 0; i < fixedWidthCol.length; i++) {
                colItemWidth[i].style.width = returnWidthCol[i]['width'];
            }

            document.querySelectorAll(".table tr th").forEach(function (e, id) {
                e.onresize = function () {
                    fixedWidthCol[id]['width'] = e.style.width;
                    localStorage.setItem('fixedWidthCol3', JSON.stringify(fixedWidthCol));

                }
            })



        </script>
{% endblock %}


